<header class="container-fluid bg-primary py-4">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <a class="navbar-brand fw-bolder fs-2" routerLink="">Otra_App_Innecesaria :(</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <a class="nav-link active" aria-current="page" routerLink="/listar-contactos">Ver Contactos</a>
              <a class="nav-link" routerLink="/crear-contacto">Crear Contacto</a>
            </div>
          </div>
        </div>
      </nav>
</header>